#product_admin_tbl {
        border-collapse: collapse;
        overflow:auto;  
}
td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}


th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}


tr:nth-child(even) {
        background-color: #dddddd;
}
