.product_list{
    display:table;
    width: 100%;
}
    
.product_list_item:hover{
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.product_list_item:hover > a > img {
        display: block;
        transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
}

.product_list_item {
    position: relative;
    display: block;
    margin: 1%;
    width:25%;
    height:25%;
    float:left;
    text-decoration:none;
}

.product_list_item > a > span {
    position: absolute;
    bottom: 0px;
    padding: 12px;
    display: block;
    color:#ffb342;
    text-align: center;
    width:100%;
}

.product_list_item > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_img {
    width:35%; 
    height:100%;
    float:right;
}

.product_title {
    color:#ffb342;
}

.product_nome {
    color:#ffb342;
    font-size:25px;
}

.product_descr {
    text-align: center;
    font-size: 14pt;
}

.entry-title {
    display: none;
}
